@import '../../styles/variables';
@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

.component-layout {
  position: relative;

  &__main {
    padding-bottom: 300px;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
