@import '../../styles/variables';
@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

.component-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: spacerMap(6);
  padding-bottom: spacerMap(6);

  &__env {
    position: absolute;
    left: 0;
    top: 0;
    background: colorMap(green, light);
    padding: spacerMap(2);
    font-size: $font-size-xsm;
    font-weight: bold;
  }

  @include media-breakpoint-up(md) {
    padding-top: spacerMap(7);
    padding-bottom: spacerMap(7);
  }

  @include media-breakpoint-up(lg) {
    padding-top: spacerMap(8);
    padding-bottom: spacerMap(8);
  }

  &__logo-wrap {
    width: 250px;

    @include media-breakpoint-up(md) {
      width: 300px;
    }
  }
}
