@import '../../styles/variables';
@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

.component-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: spacerMap(3) 0;

  @include media-breakpoint-up(md) {
    padding: spacerMap(4) 0;
  }

  @include media-breakpoint-up(lg) {
    padding: spacerMap(5) 0;
  }

  &__logo-wrap {
    width: 165px;

    @include media-breakpoint-up(md) {
      width: 200px;
    }
  }
}
