RewriteEngine On
RewriteBase /

# always without www. and no other domains allowed
RewriteCond %{HTTP_HOST} !^coronahilfe-finder.de$ [NC]
RewriteRule ^(.*)$ https://coronahilfe-finder.de/$1 [R=301,L]

ErrorDocument 404 /404/