RewriteEngine On
RewriteBase /

# always without www. and no other domains (except stage) allowed
RewriteCond %{HTTP_HOST} !^(stage).coronahilfe-finder.de$ [NC]
RewriteRule ^(.*)$ https://coronahilfe-finder.de/$1 [R=301,L]

ErrorDocument 404 /404/