@import '../../styles/variables';
@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

.component-footer {
  text-align: center;
  padding: spacerMap(3) spacerMap(2);

  @include media-breakpoint-up(md) {
    padding: spacerMap(4) 0;
  }

  @include media-breakpoint-up(lg) {
    padding: spacerMap(5) 0;
  }

  &__link {
    font-size: $font-size-md;
    color: map-get($dark-greens, 500);

    &:not(:last-child) {
      margin-right: spacerMap(3);
    }
  }

  &__copyright {
    display: inline-block;
    font-size: $font-size-sm;
  }
}
